/.gradle/
/.kotlin/
/.bak/
/.idea/
/local.properties
/sign.properties
/build/
/app/build/
/app/release/
/app/releases/
/build-logic/.gradle/
/build-logic/build/
/build-logic/*/build/
/.python/__pycache__/
*.iml
*.log
*.apk
*.jks
*.keystore
